node_modules/
build/manifest.json
download/
data/
dist/
release/
public/dll.js
public/mishiro.renderer.js
public/mishiro.renderer.css
public/mishiro.main.js
public/mishiro.live.js
public/img/*
public/bin/CGSSAudio.exe
!public/img/2ndAnniversary.jpg
public/asset/score/
public/asset/sound/se/
public/asset/sound/live/
public/asset/sound/voice/
public/asset/sound/bgm/*.mp3
!public/asset/sound/bgm/bgm_event_3017.mp3
!public/asset/sound/bgm/bgm_studio_day.mp3
!public/asset/sound/bgm/bgm_studio_night.mp3
!public/asset/sound/bgm/bgm_studio_sunset.mp3
!public/asset/sound/bgm/bgm_idol_menu.mp3
!public/asset/sound/bgm/bgm_gacha_menu.mp3
!public/asset/sound/bgm/bgm_event_typeA.mp3
!public/asset/sound/bgm/bgm_event_rail.mp3
config.json
.vscode/
src/cpp/*/build/
