*{
  margin: 0;
  padding: 0;
}
@font-face{
  font-family:'CGSS-B';
  src:url(./font.asar/FRB.otf)
}
.canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.canvas-middle {
  width: 100%;
}

.canvas-center {
  height: 100%;
}

.img-middle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1000;
}

.img-center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: -1000;
}

.combo {
	position: absolute;
	top: 5%;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.combo > .combo-number {
	-webkit-text-stroke: 2px rgb(240,144,0);
	color: #f0f0f0;
	font-size: 80px;
	font-family: "CGSS-B";
  font-weight: bold;
  height: 80px;
  line-height: 80px;
}
.combo > .combo-text {
	-webkit-text-stroke: 1px rgb(240,144,0);
	color: #f0f0f0;
	font-size: 35px;
  font-family: "CGSS-B";
  height: 35px;
  line-height: 35px;
}

.hp-bar{
	position: absolute;
	top: 5%;
	left: 10%;
	box-sizing: border-box;
	width: 231px;
	height: 28px;
	border: 1px solid #505050;
	background: #f0f0f0;
	border-radius: 5px;
}
.hp-bar>div{
	position: relative;
	box-sizing: border-box;
	width: 215px;
	height: 20px;
	background: linear-gradient(180deg, #606060, #808080);
	border-radius: 4px;
	margin: 3px 7px;
	overflow: hidden;
}
.hp-bar .hp{
	background: linear-gradient(180deg, #40d000, #b0f070 30%, #50d030);
	width: 80.5%;
	height: 20px;
	transition: width .2s linear;
}
.hp-bar .hp.warning{
	background: linear-gradient(180deg, #f0c010, #f0e080 30%, #f0a000);
}
.hp-bar .hp.dangerous{
	background: linear-gradient(180deg, #e04000, #f08070 30%, #c04000);
}
